.container {
  font-family: 'Poppins', sans-serif;
  display: grid;
  grid-template-areas: "header" "options" "results" "again";
  grid-template-columns: auto;
  grid-template-rows: 1fr;
  gap: 1vw;
  justify-items: center;
}

h1 {
  grid-area: header;
  margin-top: 20vh;
  font-size: 24px;
  font-size: 5vw;
}

#options {
  grid-area: options;
  gap: 5vw;
  display: flex;
}

#results {
  grid-area: results;
  display: flex;
}

p {
  font-size: 12px;
  font-size: 3vw;
  text-align: center;
}

#restart {
  grid-area: again;
  font-family: inherit;
  margin-top: 1rem;
}

#rock:hover, #paper:hover, #scissors:hover, #restart:hover {
  cursor: pointer;
}

#choice,
#response,
#countdown,
#restart {
  display: none;
}

.icon, #countdown {
   font-size: 64px; 
   font-size: 6vw;
   text-align: center;
}

#record {
  position: fixed;
  top: 5px;
  right: 5px;
  text-align: center;
}

@media only screen and (max-width: 640px) {
    h1 {
        font-size: 10vw;
    }
    .icon, #countdown {
        font-size: 12vw;
    }

    p {
      font-size: 5vw;
    }
}